Client/src/main/java/soaptp/EtudiantService.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://WebService.tp1/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://WebService.tp1/" name="StudentServiceService">
<types>
<xsd:schema>
<xsd:import namespace="http://WebService.tp1/" schemaLocation="http://localhost:2525/?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="getAllStudents">
<part name="parameters" element="tns:getAllStudents"></part>
</message>
<message name="getAllStudentsResponse">
<part name="parameters" element="tns:getAllStudentsResponse"></part>
</message>
<message name="getStudentByCIN">
<part name="parameters" element="tns:getStudentByCIN"></part>
</message>
<message name="getStudentByCINResponse">
<part name="parameters" element="tns:getStudentByCINResponse"></part>
</message>
<message name="getLimitedStudents">
<part name="parameters" element="tns:getLimitedStudents"></part>
</message>
<message name="getLimitedStudentsResponse">
<part name="parameters" element="tns:getLimitedStudentsResponse"></part>
</message>
<portType name="StudentService">
<operation name="getAllStudents">
<input wsam:Action="http://WebService.tp1/StudentService/getAllStudentsRequest" message="tns:getAllStudents"></input>
<output wsam:Action="http://WebService.tp1/StudentService/getAllStudentsResponse" message="tns:getAllStudentsResponse"></output>
</operation>
<operation name="getStudentByCIN">
<input wsam:Action="http://WebService.tp1/StudentService/getStudentByCINRequest" message="tns:getStudentByCIN"></input>
<output wsam:Action="http://WebService.tp1/StudentService/getStudentByCINResponse" message="tns:getStudentByCINResponse"></output>
</operation>
<operation name="getLimitedStudents">
<input wsam:Action="http://WebService.tp1/StudentService/getLimitedStudentsRequest" message="tns:getLimitedStudents"></input>
<output wsam:Action="http://WebService.tp1/StudentService/getLimitedStudentsResponse" message="tns:getLimitedStudentsResponse"></output>
</operation>
</portType>
<binding name="StudentServicePortBinding" type="tns:StudentService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="getAllStudents">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getStudentByCIN">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getLimitedStudents">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="StudentServiceService">
<port name="StudentServicePort" binding="tns:StudentServicePortBinding">
<soap:address location="http://localhost:2525/"></soap:address>
</port>
</service>
</definitions>